.login{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
}

.login > p{
    color: white;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.login > p a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.login_card{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    padding: 2rem 0;
    border-radius: 1rem;
}

.login_card > .MuiSvgIcon-root{
    font-size: 15rem;
}

.login_card > h1{
    color: white;
    margin-top: 2rem;
}

.login_card form{
    padding: 0 2rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.login_card h1{
    margin-bottom: 3rem;
}

.login_card input{
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--secondary);
    border:none;
    color: white;
}

.login_card button{
    padding: 1rem;
    background-color: var(--whatsapp);
    border: none;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}